//generic
$titleTextColor: #c41230;
$defaultTextColor: #000000;
$invertedTextColor: #FFFFFF;
$accentColor: #d21c1c;
//end generic

//tiled-cta
$tcta-borderColor: #cccccc;
$tcta-selectedBorderColor: #9b9b9b;
$tcta-overlayBackgroundColor: $accentColor;
$tcta-overlayTextColor: $invertedTextColor;
//end tiled-cta

//product-carousel
$pc-ctaBorderColor: #959595;
$pc-ctaTextColor: $pc-ctaBorderColor;
//end product-carousel