.{appname} {
	@import '../../node_modules/normalize.scss/normalize.scss';
	@import 'variables';
	@import 'mixins';
	@import 'utils';
	@import 'animations';

	width: 944px;

	* {
		max-width: 944px;
		font-family: Helvetica, Arial, sans-serif;
		box-sizing: border-box;
	}

	a {
		color: black;
		text-decoration: none;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	@import 'partials/horizontal-rule';
	@import 'partials/masthead';
	@import 'partials/tiled-cta';
	@import 'partials/product-carousel';
	@import 'partials/video-selector';
	@import 'partials/feature-selector';
	@import 'partials/banner';
}