$linkColor: #FFFFFF;

$titleColor: #cc0000;

$features-copyColor: #FFFFFF;

$videoPlayer-backgroundColor: #000000;
$videoPlayer-copyColor: #FFFFFF;

$learnMoreBackgroundColor: $titleColor;

$moreFeaturesTitlesColor: #000000;