html, body {
  width: 944px; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

rl-ka-refer-landing {
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
  /* HTML5 display-role reset for older browsers */
  width: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  position: relative; }
  rl-ka-refer-landing html, rl-ka-refer-landing body, rl-ka-refer-landing div, rl-ka-refer-landing span, rl-ka-refer-landing applet, rl-ka-refer-landing object, rl-ka-refer-landing iframe, rl-ka-refer-landing h1, rl-ka-refer-landing h2, rl-ka-refer-landing h3, rl-ka-refer-landing h4, rl-ka-refer-landing h5, rl-ka-refer-landing h6, rl-ka-refer-landing p, rl-ka-refer-landing blockquote, rl-ka-refer-landing pre, rl-ka-refer-landing a, rl-ka-refer-landing abbr, rl-ka-refer-landing acronym, rl-ka-refer-landing address, rl-ka-refer-landing big, rl-ka-refer-landing cite, rl-ka-refer-landing code, rl-ka-refer-landing del, rl-ka-refer-landing dfn, rl-ka-refer-landing em, rl-ka-refer-landing img, rl-ka-refer-landing ins, rl-ka-refer-landing kbd, rl-ka-refer-landing q, rl-ka-refer-landing s, rl-ka-refer-landing samp, rl-ka-refer-landing small, rl-ka-refer-landing strike, rl-ka-refer-landing strong, rl-ka-refer-landing sub, rl-ka-refer-landing sup, rl-ka-refer-landing tt, rl-ka-refer-landing var, rl-ka-refer-landing b, rl-ka-refer-landing u, rl-ka-refer-landing i, rl-ka-refer-landing center, rl-ka-refer-landing dl, rl-ka-refer-landing dt, rl-ka-refer-landing dd, rl-ka-refer-landing ol, rl-ka-refer-landing ul, rl-ka-refer-landing li, rl-ka-refer-landing fieldset, rl-ka-refer-landing form, rl-ka-refer-landing label, rl-ka-refer-landing legend, rl-ka-refer-landing table, rl-ka-refer-landing caption, rl-ka-refer-landing tbody, rl-ka-refer-landing tfoot, rl-ka-refer-landing thead, rl-ka-refer-landing tr, rl-ka-refer-landing th, rl-ka-refer-landing td, rl-ka-refer-landing article, rl-ka-refer-landing aside, rl-ka-refer-landing canvas, rl-ka-refer-landing details, rl-ka-refer-landing embed, rl-ka-refer-landing figure, rl-ka-refer-landing figcaption, rl-ka-refer-landing footer, rl-ka-refer-landing header, rl-ka-refer-landing hgroup, rl-ka-refer-landing menu, rl-ka-refer-landing nav, rl-ka-refer-landing output, rl-ka-refer-landing ruby, rl-ka-refer-landing section, rl-ka-refer-landing summary, rl-ka-refer-landing time, rl-ka-refer-landing mark, rl-ka-refer-landing audio, rl-ka-refer-landing video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  rl-ka-refer-landing h1 {
    font-size: 2em; }
  rl-ka-refer-landing h2 {
    font-size: 1.5em; }
  rl-ka-refer-landing h3 {
    font-size: 1.17em; }
  rl-ka-refer-landing h4 {
    font-size: 1.12em; }
  rl-ka-refer-landing h5 {
    font-size: .83em; }
  rl-ka-refer-landing h6 {
    font-size: .75em; }
  rl-ka-refer-landing article, rl-ka-refer-landing aside, rl-ka-refer-landing details, rl-ka-refer-landing figcaption, rl-ka-refer-landing figure, rl-ka-refer-landing footer, rl-ka-refer-landing header, rl-ka-refer-landing hgroup, rl-ka-refer-landing menu, rl-ka-refer-landing nav, rl-ka-refer-landing section {
    display: block; }
  rl-ka-refer-landing body {
    line-height: 1; }
  rl-ka-refer-landing ol, rl-ka-refer-landing ul {
    list-style: none; }
  rl-ka-refer-landing blockquote, rl-ka-refer-landing q {
    quotes: none; }
  rl-ka-refer-landing blockquote:before, rl-ka-refer-landing blockquote:after {
    content: '';
    content: none; }
  rl-ka-refer-landing q:before, rl-ka-refer-landing q:after {
    content: '';
    content: none; }
  rl-ka-refer-landing table {
    border-collapse: collapse;
    border-spacing: 0; }
  rl-ka-refer-landing a {
    text-decoration: none; }
  rl-ka-refer-landing .hide {
    display: none; }
  rl-ka-refer-landing .show {
    display: block; }
  rl-ka-refer-landing .selected {
    cursor: default; }
  rl-ka-refer-landing videoplayer {
    display: block;
    position: relative;
    padding: 20px 0;
    overflow: hidden; }
    rl-ka-refer-landing videoplayer > h2 {
      font-size: 3em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
      width: 100%;
      margin: 50px; }
    rl-ka-refer-landing videoplayer > ul {
      overflow: hidden; }
      rl-ka-refer-landing videoplayer > ul li {
        float: left;
        width: 33.333333333%;
        padding: 0 5px;
        background-color: #000000; }
      rl-ka-refer-landing videoplayer > ul li:last-child {
        padding-right: 0; }
      rl-ka-refer-landing videoplayer > ul li:first-child {
        padding-left: 0; }
      rl-ka-refer-landing videoplayer > ul li:nth-child(2) img {
        width: 101.5%; }
  rl-ka-refer-landing videoplayer-player {
    width: 100%; }
    rl-ka-refer-landing videoplayer-player .text {
      width: 100%;
      padding: 28px 40px;
      background-color: #000000;
      color: #FFFFFF; }
      rl-ka-refer-landing videoplayer-player .text .title {
        font-weight: 800;
        text-transform: uppercase; }
      rl-ka-refer-landing videoplayer-player .text .description, rl-ka-refer-landing videoplayer-player .text .title {
        text-align: center; }
  rl-ka-refer-landing videoplayer-selector {
    width: 100%; }
    rl-ka-refer-landing videoplayer-selector .text {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2; }
      rl-ka-refer-landing videoplayer-selector .text .title, rl-ka-refer-landing videoplayer-selector .text .button {
        top: 50%;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase; }
      rl-ka-refer-landing videoplayer-selector .text .title {
        font-size: 2em;
        font-weight: 800;
        margin-top: -20px;
        width: 100%; }
      rl-ka-refer-landing videoplayer-selector .text .button {
        font-size: 0.8em;
        position: relative;
        top: 60%;
        width: 32%;
        margin: 0 auto;
        background-color: #cc0000;
        line-height: 25px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      rl-ka-refer-landing videoplayer-selector .text .button:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2); }
    rl-ka-refer-landing videoplayer-selector .text h2, rl-ka-refer-landing videoplayer-selector .text div {
      position: absolute; }
    rl-ka-refer-landing videoplayer-selector > div {
      position: relative;
      cursor: pointer; }
    rl-ka-refer-landing videoplayer-selector img {
      opacity: 0.45;
      width: 100%;
      z-index: 1;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    rl-ka-refer-landing videoplayer-selector .selected .button, rl-ka-refer-landing videoplayer-selector .selected .title {
      opacity: 0; }
    rl-ka-refer-landing videoplayer-selector .selected img {
      opacity: 1; }
  rl-ka-refer-landing videoplayer-video {
    width: 100%; }
  rl-ka-refer-landing masthead {
    width: 80%;
    position: relative; }
    rl-ka-refer-landing masthead .ka-landing-title h1 {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 32px;
      letter-spacing: 1px; }
  rl-ka-refer-landing features {
    width: 80%; }
    rl-ka-refer-landing features .row {
      width: 100%;
      height: 300px; }
    rl-ka-refer-landing features .ka-landing-feature-icon {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: #CC0000;
      top: 40px;
      left: 95px;
      overflow: hidden; }
      rl-ka-refer-landing features .ka-landing-feature-icon > img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
    rl-ka-refer-landing features .ka-landing-feature-title {
      text-transform: uppercase;
      width: 100%;
      top: 165px;
      text-align: center;
      color: #CC0000; }
    rl-ka-refer-landing features .ka-landing-feature-button-over {
      opacity: 0;
      z-index: 2;
      display: table;
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    rl-ka-refer-landing features .ka-landing-feature-copy-container {
      display: table-cell;
      color: #FFFFFF;
      position: relative;
      height: inherit;
      width: inherit;
      vertical-align: middle; }
    rl-ka-refer-landing features .ka-landing-feature-button-over:hover {
      opacity: .8; }
    rl-ka-refer-landing features .ka-landing-over-copy {
      font-weight: 100;
      margin-bottom: 2px; }
    rl-ka-refer-landing features .ka-landing-over-copy, rl-ka-refer-landing features .ka-landing-over-cta {
      width: 100%;
      text-align: center; }
    rl-ka-refer-landing features .ka-landing-over-cta {
      font-weight: 400; }
    rl-ka-refer-landing features .ka-landing-feature-button-over-background {
      height: 100%;
      width: 100%;
      background-color: #cc0000;
      position: absolute; }
    rl-ka-refer-landing features .ka-landing-feature-button {
      width: 32%;
      margin: 5px;
      float: left;
      height: 266px;
      border: solid;
      border-color: #aaaaaa;
      border-width: 4px;
      position: relative; }
      rl-ka-refer-landing features .ka-landing-feature-button .ka-landing-feature-button-up {
        position: relative;
        z-index: 1; }
      rl-ka-refer-landing features .ka-landing-feature-button .ka-landing-innerBtn {
        position: absolute; }
      rl-ka-refer-landing features .ka-landing-feature-button .ka-landing-feature-rule {
        width: 100px;
        height: 5px;
        background-color: #CC0000;
        top: 200px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }
  rl-ka-refer-landing product-selector {
    width: 80%;
    position: relative; }
    rl-ka-refer-landing product-selector h2 {
      font-size: 3em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
      width: 100%;
      margin: 50px; }
    rl-ka-refer-landing product-selector #french-door, rl-ka-refer-landing product-selector #side-by-side, rl-ka-refer-landing product-selector #bottom-freezer, rl-ka-refer-landing product-selector #under-counter, rl-ka-refer-landing product-selector #built-in {
      opacity: 0; }
    rl-ka-refer-landing product-selector .product-slide {
      position: absolute;
      width: 943px; }
    rl-ka-refer-landing product-selector > .row {
      height: 600px;
      overflow: hidden;
      background-image: url("../../public/images/refer-select-shadow.png");
      background-repeat: no-repeat;
      background-position-y: 50px; }
    rl-ka-refer-landing product-selector .rl-ka-lndng-fridge-title {
      position: absolute;
      left: 565px;
      top: 170px;
      width: 300px;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 32px;
      text-transform: uppercase; }
    rl-ka-refer-landing product-selector .rl-ka-lndng-fridge {
      left: 240px;
      position: absolute; }
    rl-ka-refer-landing product-selector .rl-ka-lndng-fridge img {
      height: 420px; }
    rl-ka-refer-landing product-selector .rl-ka-lndng-fridge-desc {
      position: absolute;
      left: 565px;
      top: 215px;
      width: 350px;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: 100;
      line-height: 35px;
      letter-spacing: 1px;
      text-rendering: optimizeSpeed; }
  rl-ka-refer-landing learn-more-button {
    display: block;
    position: absolute;
    top: 50%;
    width: 180px;
    height: 40px;
    margin-top: -20px;
    background-color: #cc0000;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    rl-ka-refer-landing learn-more-button div {
      width: 100%;
      height: 100%;
      display: table; }
    rl-ka-refer-landing learn-more-button p {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  rl-ka-refer-landing learn-more-button:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }
  rl-ka-refer-landing more-features {
    display: block;
    position: relative;
    padding: 20px 0 70px 0;
    overflow: hidden; }
    rl-ka-refer-landing more-features h2 {
      font-size: 3em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
      width: 100%;
      margin-bottom: 15px; }
    rl-ka-refer-landing more-features more-features-feature {
      margin: 0 2px; }
    rl-ka-refer-landing more-features more-features-feature:first-of-type {
      margin-left: initial; }
    rl-ka-refer-landing more-features more-features-feature:last-of-type {
      margin-right: initial; }
  rl-ka-refer-landing more-features-feature {
    width: 33%;
    float: left; }
    rl-ka-refer-landing more-features-feature img {
      width: 100%; }
    rl-ka-refer-landing more-features-feature p {
      text-align: center;
      margin-top: 15px;
      color: #000000; }
  rl-ka-refer-landing banner {
    position: relative;
    display: block;
    cursor: default; }
    rl-ka-refer-landing banner img {
      width: 100%; }
    rl-ka-refer-landing banner learn-more-button {
      right: 7%; }
  rl-ka-refer-landing h1, rl-ka-refer-landing h2, rl-ka-refer-landing h3, rl-ka-refer-landing h4, rl-ka-refer-landing h5 {
    color: #cc0000;
    cursor: default; }
  rl-ka-refer-landing p, rl-ka-refer-landing span, rl-ka-refer-landing div {
    cursor: pointer; }
  rl-ka-refer-landing * {
    box-sizing: border-box; }
  rl-ka-refer-landing a {
    color: #FFFFFF; }
