html, body {
	width: 944px;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

rl-ka-refer-landing {
	@import 'reset.scss';
	@import 'variables.scss';
	@import 'mixins.scss';
	@import 'utils.scss';
	@import 'animations.scss';

	@import 'components/videoplayer.scss';
    @import 'components/masthead.scss';
    @import 'components/features.scss';
    @import 'components/selector.scss';
    @import 'components/learn-more-button.scss';
    @import 'components/more-features.scss';
    @import 'components/banner.scss';

	width: 100%;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font-size: 12pt;
	position: relative;

	h1,h2,h3,h4,h5 {
		color: $titleColor;
		cursor: default;
	}

	p,span,div {
		cursor: pointer;
	}

	* {
		box-sizing: border-box;
	}

	a {
		color: $linkColor;
	}
}