html, body {
	width: 944px;
}

rl-ka-refer-landing {
	@import 'reset.scss';
	@import 'variables.scss';
	@import 'mixins.scss';
	@import 'utils.scss';
	@import 'animations.scss';

	@import 'components/videoplayer.scss';

	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	position: relative;

	h1,h2,h3,h4,h5 {
		color: $titleColor;
	}
}