features {
    .row{
        width: 100%;
        height: 300px;
    }
    .ka-landing-feature-icon {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: #CC0000;
        top: 40px;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        
        > img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    
    .ka-landing-feature-title {
        text-transform: uppercase;
        width: 100%;
        top: 165px;
        text-align: center;
        color: #CC0000;
    }

    .ka-landing-feature-button-over{
        opacity: 0;
        z-index: 2;
        display: table;
        width: 100%;
        height: 100%;
        position: relative;
        @include transition(0.2s);
    }

    .ka-landing-feature-copy-container {
        display: table-cell;
        color: $features-copyColor;
        position: relative;
        height: inherit;
        width: inherit;
        vertical-align: middle;
    }

    .ka-landing-feature-button-over:hover {
        opacity: .8;
    }

    .ka-landing-over-copy {
        font-weight: 100;
        margin-bottom: 2px;
    }

    .ka-landing-over-copy, .ka-landing-over-cta {
        width: 100%;
        text-align: center;
    }

    .ka-landing-over-cta {
        font-weight: 400;
    }

    .ka-landing-feature-button-over-background {
        height: 100%;
        width: 100%;
        background-color: $titleColor;
        position: absolute;
    }

    .ka-landing-feature-button {
        width: 32%;
        margin: 5px;
        float: left;
        height: 266px;
        border: solid;
        border-color: #aaaaaa;
        border-width: 4px;
        position: relative;
        
        @media screen and (max-width: 768px) {
            margin: 3px;
        }
    
        .ka-landing-feature-button-up {
            position: relative;
            z-index: 1;
        }

        .ka-landing-innerBtn {
            position: absolute;
        }
        
        .ka-landing-feature-rule {
            width: 100px;
            height: 5px;
            background-color: #CC0000;
            top: 200px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    
    }
}