masthead {
	width: 80%;
	position: relative;
	display: block;
	padding-top: 40px;
    
    #ka-landing-masthead {
        overflow: hidden;
        cursor: default;
        margin-bottom: 20px;
    }
    
    img{
        width: 100%;
    }

    .ka-landing-title h1{
        text-transform: uppercase;
        font-weight: 100;
        font-size: 32px;
        letter-spacing: 1px;
        
        @media screen and (max-width: 768px) {
            text-align: center;
            padding-bottom: 10px;
        }
    }
}