product-selector {
	width: 80%;
	position: relative;
    
    h2{
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
   #french-door, #side-by-side, #bottom-freezer, #under-counter, #built-in{
        opacity: 0;
    }
    
    product-slides {
        display: block;
    }
    .product-slide{
        position: absolute;
        width: 943px;
    }
    product-slide {
        height: 420px;
        display: inline-block;
        position: relative;
        top: -160px;
        @media screen and (max-width: 820px) {
            left: -120px;
        }
        @media screen and (max-width: 685px) {
            left: -240px;
        }
    }

    > .row{
        overflow: hidden;
        background-image: url('../../public/images/refer-select-shadow.png');
        background-repeat: no-repeat;
        background-position-y: 150px;
    }
    
    .rl-ka-lndng-fridge-title{
        position: absolute;
        left: 490px;
        top: 170px;
        width: 300px;
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
        opacity: 0;
    }
    
    learn-more-button{
        position: absolute;
        left: 490px;
        top: 325px;
        width: 115px;
        height: 30px;
        opacity: 0;
        @media screen and (max-width: 685px) {
           transform: scale(1.5,1.5);
           -webkit-transform: scale(1.5,1.5);
           left: 515px;
        }
    }
    
    .rl-ka-lndng-fridge{
        left: 165px;
        position: absolute;
        opacity: 0;
    }
    
    .rl-ka-lndng-fridge img{
        height: 420px;
    }
    
    .rl-ka-lndng-fridge-desc{
        position: absolute;
        left: 490px;
        top: 215px;
        width: 300px;
        font-size: 18.5px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 1px;
        text-rendering: optimizeSpeed;
        opacity: 0;
        @media screen and (max-width: 685px) {
           font-size: 18px;
           line-height: 24px;
           width: 50vw;
        }
    }
    
}

product-selector-nav {
    position: relative;
    display: block;
    padding-top: 70px;

    .row {
        position: relative;
    }
    
    
    .product,.see-all {
        float: left;
        width: 14.28571428571429%;
        padding: 0 2px;
        

        img {
            width: 100%;
        }
    }


    .product{
        @media screen and (max-width: 820px) {
            width: 16.5%;
        }

        > img {
            @include transition(0.2s);
        }
    }

    .product:not(.selected) {
        > img {
            opacity: 0.6;
        }

        .button {
            color: $selectorTextColor;
        }
    }

    .button {
        margin-top: 20px;
        height: 25px;
        display: table;
        color: $selectorTextColor;
        border: 2px solid $selectorBackgroundColor;
        width: 100%;
        @include transition(0.2s);

        p {
            width: 100%;
            @include centered-table-cell;
            line-height: 13px;
            font-size: 0.8em;
        }
    }

    .product:hover {
        > img {
            opacity: 0.75;
        }

        .button {
            background-color: $selectorBackgroundColor;
            color: $selectorHighlightedTextColor !important;
        }
    }

    .product.selected {
        .button {
            background-color: $selectorBackgroundColor;
            color: $selectorHighlightedTextColor;
        }
    }

    .see-all {
        color: $selectorCTAColor;
        border: 3px solid $selectorCTAColor;
        text-transform: uppercase;
        display: table;
        height: 100%;
        height: 190px;
        @include transition(0.2s);

        p {
            @include centered-table-cell;
        }
        @media screen and (max-width: 820px) {
            clear: left;
            width: 100%;
            height: 100px;
            margin-top: 10px;
        }
    }

    .see-all:hover {
         p {
            text-decoration: underline;
         }
    }
    
}