product-selector {
	width: 80%;
	position: relative;
    
    h2{
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
   #french-door, #side-by-side, #bottom-freezer, #under-counter, #built-in{
        opacity: 0;
    }
    
    .product-slide{
        position: absolute;
        width: 943px;
    }

    > .row{
        height: 600px;
        overflow: hidden;
        background-image: url('../../public/images/refer-select-shadow.png');
        background-repeat: no-repeat;
        background-position-y: 150px;
    }
    
    .rl-ka-lndng-fridge-title{
        position: absolute;
        left: 490px;
        top: 170px;
        width: 300px;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
    }
    
    .rl-ka-lndng-fridge{
        left: 165px;
        position: absolute;
    }
    
    .rl-ka-lndng-fridge img{
        height: 420px;
    }
    
    .rl-ka-lndng-fridge-desc{
        position: absolute;
        left: 490px;
        top: 215px;
        width: 300px;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 18.5px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 1px;
        text-rendering: optimizeSpeed;
    }
    
}