<!-- css is bundled together using gulp-scss & gulp-concat-css -->
<link rel="stylesheet" href="/css/{appname}.min.css">

<!-- main template start -->
<div class="{appname} {{language}}">
{{> masthead}}

{{> horizontal-rule}}
{{> tiled-cta customClass='test1'}}
{{> horizontal-rule}}
{{> horizontal-rule}}
{{> horizontal-rule}}
{{> tiled-cta customClass='test2'}}
{{> horizontal-rule}}
{{> horizontal-rule}}
{{> horizontal-rule}}
{{> tiled-cta customClass='test3'}}


{{> product-carousel}}
{{> video-selector}}
{{> feature-selector}}
{{> banner}}
</div>
<!-- main template end -->

<!-- js is bundled together using browserify -->
<script src="/javascript/{appname}.min.js"></script>