<div class="rl-ka-lndng-feature-button">
    <!-- I don't know.  I just like spacing my code with comments -->
    <div class="rl-ka-lndng-feature-button-up">
        <div class="rl-ka-lnding-feature-title">This is some title</div>
        <div class="rl-ka-lnding-feature-icon">I swear there will be an image here</div>
        <div class="rl-ka-lnding-feature-rule">This will be a horizontal rule</div>
    </div>
    <div class="rl-ka-lndng-feature-button-over">
        <p class="ka-lnding-over-copy">This is where the over copy will go</p>
    </div>
</div>